img{
    border-style: solid;
    border-color: green;
    width: 500px;
    height: 500px;
}
.header{
    h1{
        color: blue;
        font-size: 15px;
    }
    p{
        color: red;
        font-size: 15px;
    }
}
h2{
    color: brown;
}